<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

        <mat-card-content *ngIf="!loading">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <img src="../../../assets/img/user.png" width="50%">
                <h1>Login</h1>
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <mat-icon>mail</mat-icon>
                    </span>
                    <input type="text" class="form-control" placeholder="Ingrese su correo" formControlName="email">
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text"><mat-icon>lock</mat-icon></span>
                    <input type="password" class="form-control" placeholder="Ingrese su contraseña" formControlName="password">
                  </div>
                                    
                <br>
                <button type="submit" [disabled]="!loginForm.valid" class="ancho button" mat-raised-button color="primary">
                    Ingreso</button>
            </form>
        </mat-card-content>
    </div>
</div>

